<div class="container-fluid px-4">
  <h1 class="mt-4"><%= t "category" %></h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "id" %></th>
        <th scope="col"><%= t "name" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>example</td>
      </tr>
    </tbody>
  </table>
</div>
