@import "color";

body{
    padding-bottom: 50px;
}
.image-container {
    position: relative;
    padding-bottom: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.ml-auto {
    padding-left: 700px;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 200px;
}

.badge-pending{
  color: $white;
  background-color: $pending-bg;
}

.badge-accepted{
  color: $white;
  background-color: $accepted-bg;
}

.badge-shipped{
  color: $white;
  background-color: $shipped-bg;
}

.badge-rejected{
  color: $black;
  background-color: $rejected-bg;
}

.badge-canceled{
  color: $white;
  background-color: $canceled-bg;
}

.badges {
  display: inline-block;
  padding: .75em .65em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
