<%= search_form_for @search, url: category_path(params[:id]) do |f| %>
  <div class="d-flex form-floating">
    <%= f.text_field :book_cont, class: "form-control shadow-none" %><br>
    <label><%= t "info" %></label>
    <%= f.submit t("search"), class: "btn btn-primary search-btn" %>
  </div>
<% end %>
