<div class="container mt-50 mb-50">
  <div class="row">
    <div class="container-fluid">
      <h4 class="mt-4"><%= t "category" %>: <%= @category.name %></h4>
    </div>
    <%= render partial: "category", collection: @books, as: :book %>
  </div>
</div>
