<% provide :title, t("home") %>

<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="container-fluid">
    <h3 class="mt-4"><%= t "store.new_product" %></h3>
  </div>
  <%# comming soon %>
</div>
